// https://tailwindcss.com/docs/adding-base-styles
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-family: "Lato", sans-serif;
  }

  body {
    font-size: 18px;

    > div {
      @apply h-full flex flex-col;
    }
  }

  nav,
  main {
    @apply container;
  }

  main {
    @apply flex-grow;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  ul,
  ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  button {
    outline: none !important;
  }

  h3 {
    font-size: 22px;
  }

  blockquote {
    text-align: center;
    font-size: 24px;
    max-width: 700px;
    margin: 0 auto;
    color: #4b6f57;
    line-height: 28px;
    margin-bottom: 30px;
    p {
      margin: 0;
      display: inline;
    }
    footer {
      display: inline;
    }
  }
}

@layer components {
  .menu {
    ul {
      display: none;
      margin: 0;
    }

    &:hover,
    a:hover,
    ul:hover {
      ul {
        display: flex;
      }
    }
  }

  a.button {
    background-color: var(--green);
    padding: 8px 24px;
    border-radius: 20px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    width: max-content;
  }
}

@layer utilities {
  .max-w-content {
    margin: 32px auto;
    max-width: 850px;
    p {
      margin: 32px 0;
    }
  }
}

:root {
  --green: #093619;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 21.6px;
}

h1,
h2 {
  line-height: 1.25;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

/* Button */
